.ShopContainer {  
    position:relative; 
    clear:none;
    float:left;
     
    width:79%;
    min-width:900px;
    margin: 0 auto 0 auto;
    
    font-family: "Century Gothic";
}
.BackgroundLayer{
    width:100%;
    height:950px;
    display:inline-flex;
}

.AuthorShop{
    position:relative;   
    height:23px;
}

/**********  CHARITY TOP WINDOW  *******/
.CharityRow {
    width:600px; 
    margin-left: auto;
    margin-right: auto;    
    margin-bottom: 20px;
    
    text-align: center;

    border-radius: 8px;
    box-shadow: rgba(129, 219, 233, 0.73) 0 0 8px 3px;     
    background-color: rgba(1, 63, 95, 0.98);
}

.Charity {  
    width: 570px;
    height: 100%;  
    margin-left: auto;
    margin-right: auto;

    border-left: 3px solid rgba(20, 20, 20, 0.9);
    border-right: 3px solid rgba(20, 20, 20, 0.9);

    color:black;
    background-color:rgba(177, 233, 241, 0.94);    
}


.CharityTitle{    
    width:100%;
    margin-bottom: 5px;
    padding-bottom: 3px;
    padding-top: 3px; 
    
    font-size: 1.3em; 
    color: rgba(177, 233, 241, 1);

    border-bottom:2px solid;
    border-color:rgba(20, 20, 20, 0.9);
    background-color: rgba(1, 63, 95, 0.98);
}

#charityamount {
    font-size:1.3em;
    font-weight:600;
    padding-top: 5px;
    padding-bottom: 5px;
}

/****************   PRODUCT TILES   ****************/
.LayoutTable {
    margin-left:auto;
    margin-right:auto; 
    margin-top:30px;
}

.Product {    
    margin: 20px 20px 20px 20px;        
    width: 250px;    
    text-align: center;
    
    border-radius: 4px;
    border: 1px solid rgba(0, 255, 208, 0.3);

    box-shadow: rgba(0, 70, 170, 0.6) 0 0 8px 4px;
    background-color: rgba(2, 76, 116,0.96);
}
.PhotoTile{
    height: 220px;
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
}

.Product:hover{    
    cursor: pointer;   
    box-shadow: rgba(54, 208, 217, 0.66) 0 0 7px 7px;
}

.SmallDescription {    
    color:white;
    padding-bottom:5px;
}

.Overlay {   
    opacity: 0;
    height:25px;        
    width: 100%;
    padding-top:5px;

    color: white;    
    font-size:15px;
    font-weight: 600;
    
    background: rgba(0, 0, 0, 0.2);
}

.Product:hover .Overlay {
    opacity: 1;
}

/****************** ORDER SIDE WINDOW *****************/
.Order {    
    position:relative;    
    top:23%;

    height:70%;
    width:20%;
    min-width:320px;
    margin: 0 auto 0 auto;
}
.Orderius {
    margin-left: 5%;
    width: 250px;    
    
    text-align: center;
    font-family: 'Century Gothic';
        
    border-radius: 10px;
    box-shadow: rgba(129, 219, 233, 0.73) 0 0 8px 3px;
    background-color: rgba(0,0,0,0.7);
}

.OrderTitle{
    margin-bottom:5px;
    
    padding-top:20px;
    padding-bottom: 25px;

    font-size: 1.5em;
    font-weight: 800;
    color: rgba(177, 233, 241, 0.98);

    border-top-right-radius: inherit;
    border-top-left-radius: inherit;
    background-color: rgba(1, 63, 95, 0.98);
}

#addeditem {
    height:333px;
    overflow-y:scroll;
    padding-top: 20px;

    color:black;
    border-bottom:1px solid black;
    background-color: rgba(199, 248, 255, 0.94);    
}

.TotalAmount {
    position:relative;

    padding-top:10px;
    padding-bottom:15px;
    
    line-height: 150%;
    font-size:1.3em;    
    color:black;
    
    background-color: rgba(119, 206, 253, 0.94);
}
.OrderButtons {
    position:relative;  
    margin-top:2px;  
    padding-top:10px;
    padding-bottom:5px;
    
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
    
    background-color: rgba(1, 63, 95, 0.98); 
}

.Order input {    
    margin-bottom:5px;
}
.EmptyBasket{
    width:150px;
}

/**************** POP UP PRODUCT WINDOW ****************/
.PopupContainer {
    position: absolute;
    z-index: 1000;

    width: 800px;
    margin-left:auto;
    margin-right:auto;

    top: 2%;
    left:5%;
    right:5%;
    
    border-radius: 20px;
    border: 1px solid aqua;
    background-color: rgba(20,20,20,0.98);
    box-shadow: rgba(0, 70, 170, 0.5) 0 0 20px 5px;
}
.PopupContainer input{
    margin-left:12px;
}

.WindowHeader {
    position: relative;
    width: 100%;
    height: 46px;

    color: aqua;    
    text-align: center;

    border-bottom:1px solid aqua;
}
#popupwindowtitle{
    position:absolute;
    width:350px;
    margin-left:225px;
    margin-top:5px;

    font-size: 1.6em;
    color:white;
}

#windowphoto {
    position: relative;
    width: 70%;
    height: 540px;
    right: 15%;
    left: 15%;    
      
    background-repeat:no-repeat;
    background-size:contain;
    background-position:center;
    background-color:#353535;
}

.ColumnNext, .ColumnPrevious{
    position: absolute;
    top: 47px;

    width: 10%;
    height: 609px;    
}

.ColumnPrevious {    
    left: 0px;    
}
.ColumnNext {
    right: 0px;    
}

.ColumnNext img, .ColumnPrevious img {
    width: 100%;
    height: 100%;
}
.ColumnNext:hover , .ColumnPrevious:hover{    
    cursor: pointer;   
}

.ExitProduct {
    position: relative;
    width: 53px;
    height: 38px;
    margin: 0 0 auto auto;
    padding-top: 5px; 
    
    font-family: 'Berlin Sans FB';
    font-size:22px;
    text-align: center;
    color: white;  
         
    border: 1px solid rgba(160, 0, 0, 0.80);
    border-top-right-radius: 20px;
    border-bottom-left-radius: 2px;
    background-color: rgba(100,0,0,0.50);
}

.ExitProduct:hover {
    cursor: pointer;
    text-shadow:0px 0px 2px 4px rgba(150,150,150,0.4);
    box-shadow: inset rgba(219, 0, 0, 0.5) 0 0 20px 5px;
}

.ProductTitle {
    padding: 4px;    
    font-size: 1.2em;
    background-color: rgba(0, 255, 255, 0.8);
}
.Price {
    padding: 4px;    
    font-size: 1em;  
    background-color: rgba(0, 255, 255, 0.7);  
}

#infosection {
    position: relative;    
    margin: 0 auto 0 auto;
    width: 80%;

    text-align: center;
    font: candara;
    font-size: 1.2em;    
    color: rgb(20,20,20);
}

.ProductDescription {
    color: whitesmoke;
    font-family: "Century Gothic";
}

.ProductForm {
    padding-top: 23px;
    padding-bottom:10px;
    color: whitesmoke;
}
.DropDownShop{
    width:80px;
	margin-right: 5px;
}

/*****************  POPUP FORM    *********************/
#checkout{
    position:absolute;
    z-index:5200;
    overflow-y:scroll;

    height:100%;
    width:100%;
}
#exitlayer{
    width:100%;
    height:100%;
    min-height:1260px;

    z-index:5300;
    background-color: rgba(26,26,26,0.7);    
}

.PopupForm{
    position:absolute;
    z-index: 8000;

    width:800px;
    margin-left:auto;
    margin-right:auto;

    top:10%;    
    left:1%;
    right:10%;    
}

.FormOrder {  
    position: absolute;  
       
    width: 850px;
    padding-top: 15px;
     
	font-family: "Century Gothic";
    color: white;
    text-align: center;    
    font-size: 1.2em;
    font-weight: normal;
    
    border-radius: 20px;
    border: 1px solid aqua;

    background-color: rgba(56, 56,56, 0.98);
    box-shadow: rgba(0, 70, 170, 0.5) 0 0 20px 5px;    
}
.FormOrder fieldset {
    text-align: center;
    
    padding-bottom: 12px;
    padding-left: 170px;
    margin-bottom: 40px;

    border-color: rgba(0, 255, 255, 0.1);
    border-radius: 2px;
}

.FormOrder legend {
    color: rgba(0, 255, 255, 0.9);
}

.FormLeft {
    text-align: right;
}
.FormRight {
    text-align: left;
}

.TablePos{
    margin-left:42px;
}

.TermsAndCondition {
    font-size: 0.8em;  
	padding-left:10px;
    padding-right:10px;  	
}

.FormButtons {
    width: 100%;
    margin-bottom: 0px;

    padding-top: 20px;
    padding-bottom:25px;
    
    border-bottom-left-radius:20px;
    border-bottom-right-radius:20px;
    
    border-top: 2px solid aqua;
    background-color: rgba(66, 66,66, 0.9);    
}
.FormAsterisk{    
    font-size: 0.9em;
    padding-bottom:15px;    
}
.MailingList{    
    color: aqua;
}